<settings>
    <!-- https://developer.garmin.com/connect-iq/core-topics/properties-and-app-settings/ -->
    <!-- todo add prompt to some of these -->
    <setting propertyKey="@Properties.c" title="@Strings.recalculateIntervalSTitle">
        <settingConfig type="numeric" min="1"/>
    </setting>

    <setting propertyKey="@Properties.j" title="@Strings.centerUserOffsetYTitle">
        <settingConfig type="numeric" min="0" max="1"/>
    </setting>

    <setting propertyKey="@Properties.o" title="@Strings.displayLatLongTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.k" title="@Strings.maxTrackPointsTitle">
        <settingConfig type="numeric" min="1"/>
    </setting>

    <setting propertyKey="@Properties.q" title="@Strings.minTrackPointDistanceMTitle">
        <settingConfig type="numeric" min="0"/>
    </setting>
    
    <setting propertyKey="@Properties.p" title="@Strings.useTrackAsHeadingSpeedMPSTitle">
        <settingConfig type="numeric" min="0"/>
    </setting>
    
    <!-- <group id="zoomAtPace" title="@Strings.zoomAtPaceTitle"> -->
        <setting propertyKey="@Properties.b" title="@Strings.zoomAtPaceModeTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.zoomAtPaceModePace</listEntry>
                <listEntry value="1">@Strings.zoomAtPaceModeStopped</listEntry>
                <listEntry value="2">@Strings.zoomAtPaceModeNever</listEntry>
                <listEntry value="3">@Strings.zoomAtPaceModeAlways</listEntry>
                <listEntry value="4">@Strings.zoomAtPaceModeRoutesWithoutTrack</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.d" title="@Strings.metersAroundUser" prompt="@Strings.metersAroundUserPrompt">
            <settingConfig type="numeric" min="0" max="100000"/>
        </setting>
        
        <setting propertyKey="@Properties.e" title="@Strings.zoomAtPaceSpeedMPS" prompt="@Strings.zoomAtPaceSpeedMPSPrompt">
            <settingConfig type="numeric" min="0" max="50"/>
        </setting>
    <!-- </group> -->

    <!-- <group id="routesdesc" title="@Strings.routesTitle"> -->
        <setting propertyKey="@Properties.n" title="@Strings.routesEnabled">
            <settingConfig type="boolean"/>
        </setting>
    <!-- </group> -->
</settings>
