<settings>
    <!-- https://developer.garmin.com/connect-iq/core-topics/properties-and-app-settings/ -->
    <!-- todo add prompt to some of these -->

    <setting propertyKey="@Properties.mode" title="@Strings.modeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.trackRouteMode</listEntry>
            <listEntry value="1">@Strings.elevationMode</listEntry>
            <listEntry value="2">@Strings.mapMove</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.uiMode" title="@Strings.uiModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.uiModeShowAll</listEntry>
            <listEntry value="1">@Strings.uiModeHidden</listEntry>
            <listEntry value="2">@Strings.uiModeNone</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.recalculateIntervalS" title="@Strings.recalculateIntervalSTitle">
        <settingConfig type="numeric" min="1"/>
    </setting>

    <setting propertyKey="@Properties.renderMode" title="@Strings.renderModeTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.renderModeUnbufferedRotating</listEntry>
            <listEntry value="3">@Strings.renderModeNoBufferedNoRotating</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.centerUserOffsetY" title="@Strings.centerUserOffsetYTitle">
        <settingConfig type="numeric" min="0" max="1"/>
    </setting>

    <setting propertyKey="@Properties.displayLatLong" title="@Strings.displayLatLongTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.maxTrackPoints" title="@Strings.maxTrackPointsTitle">
        <settingConfig type="numeric" min="1"/>
    </setting>

    <setting propertyKey="@Properties.mapMoveScreenSize" title="@Strings.mapMoveScreenSizeTitle">
        <settingConfig type="numeric" min="0" max="1"/>
    </setting>
    
    <!-- <group id="zoomAtPace" title="@Strings.zoomAtPaceTitle"> -->
        <setting propertyKey="@Properties.zoomAtPaceMode" title="@Strings.zoomAtPaceModeTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.zoomAtPaceModePace</listEntry>
                <listEntry value="1">@Strings.zoomAtPaceModeStopped</listEntry>
                <listEntry value="2">@Strings.zoomAtPaceModeNever</listEntry>
                <listEntry value="3">@Strings.zoomAtPaceModeAlways</listEntry>
                <listEntry value="4">@Strings.zoomAtPaceModeRoutesWithoutTrack</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.metersAroundUser" title="@Strings.metersAroundUser" prompt="@Strings.metersAroundUserPrompt">
            <settingConfig type="numeric" min="0" max="100000"/>
        </setting>
        
        <setting propertyKey="@Properties.zoomAtPaceSpeedMPS" title="@Strings.zoomAtPaceSpeedMPS" prompt="@Strings.zoomAtPaceSpeedMPSPrompt">
            <settingConfig type="numeric" min="0" max="50"/>
        </setting>
    <!-- </group> -->

    <setting propertyKey="@Properties.fixedLatitude" title="@Strings.fixedLatitude" prompt="@Strings.fixedLatitudePrompt">
        <settingConfig type="numeric" min="-90" max="90"/>
    </setting>

    <setting propertyKey="@Properties.fixedLongitude" title="@Strings.fixedLongitude" prompt="@Strings.fixedLongitudePrompt">
        <settingConfig type="numeric" min="-180" max="180"/>
    </setting>

    <!-- <group id="offTrackAlertsGroup" title="@Strings.offTrackAlertsGroupTitle"> -->
        <setting propertyKey="@Properties.offTrackAlertsDistanceM" title="@Strings.offTrackAlertsDistanceMTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.offTrackCheckIntervalS" title="@Strings.offTrackCheckIntervalSTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>
        <setting propertyKey="@Properties.drawLineToClosestPoint" title="@Strings.drawLineToClosestPointTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.drawCheverons" title="@Strings.drawCheveronsTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.offTrackWrongDirection" title="@Strings.offTrackWrongDirectionTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.enableOffTrackAlerts" title="@Strings.enableOffTrackAlertsTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.offTrackAlertsMaxReportIntervalS" title="@Strings.offTrackAlertsMaxReportIntervalSTitle">
            <settingConfig type="numeric" min="0"/>
        </setting>
    <!-- </group> -->

    <!-- <group id="routesdesc" title="@Strings.routesTitle"> -->
        <setting propertyKey="@Properties.routesEnabled" title="@Strings.routesEnabled">
            <settingConfig type="boolean"/>
        </setting>
    <!-- </group> -->
    
    <setting propertyKey="@Properties.returnToUser" title="@Strings.returnToUserTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.resetDefaults" title="@Strings.resetDefaults">
        <settingConfig type="boolean"/>
    </setting>
</settings>
